[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uilds*/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
Assets/Generated/
Packages/packages-lock.json
Packages/packages-lock.json.meta
ProjectSettings/*.asset
ProjectSettings/*.asset.meta
ProjectSettings/*.json
ProjectSettings/*.txt.meta
ProjectSettings/boot.config
ProjectSettings/boot.config.meta
TestResults.xml
PlayerE2EResults.xml
unity-e2e.log
unity-player-build.log
unity-player-e2e.log
